@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: "Quicksand", sans-serif;
  margin: 0;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: "Quicksand", sans-serif;
}
